/* VARIABLE */
:root {
    --sidebar-bg-c:#061e34;
    --generals-bg-c:#1d72e8;
    --drin:#ff8f00;
    --green-tag:#1a8754;
    --yellow-tag:#ffc008;
    --red-tag:#dc3545;
}


/* COMMON */
.wrapper {
    width: 100%;
    height: 100vh;
}

.ms_white-color {
    color: white;
}

/* HEADER */
.ms_head-container {
    width: 100%;
    height: 50px;
}

.logo {
    width: 50px;
    height: 50px;
}

.logo-big {
    display: none;
}

.ms_bell-color {
    color: var(--drin);
}

.ms_search-bg-color {
    background-color: #eeeeee;
}


/* LEFT */
.ms_left {
    display: inline-block;
    width: 50px;
    height: calc(100vh - 50px);
    background-image: url(../img/sidebar-bg.png);
    background-color: #061e34;
}

.ms_text-size {
    font-size: 1rem;
}

@media screen and (min-width: 992px){
    .ms_left {
        width: 100px;
    }
}

/* RIGHT */
.ms_right {
    display: inline-block;
    width: calc(100% - 50px);
    height: calc(100vh - 50px);
    overflow-y: auto;   /* CORREGGERE SCROLLBAR */
}

@media screen and (min-width: 992px){
    .ms_right {
        width: calc(100% - 100px);
    }
}

/* GENERALS */
.ms_general-b-color {
    background-color: var(--generals-bg-c);
}

.ms_top-color {
    background-color:#f0f0f0;
}

.ms_container-grid {
    width: 100%;
}

.ms_dimension {
    width: 40px;
    aspect-ratio: 1 / 1;
}

.ms_circle-blue {
    background-color: #104b9d;
}

/* NEXT CLASS */
.ms_class-logo {
    width: 20px;
    scale: 1.5;
}

.ms_btn-dim {
    width: 40px;
    aspect-ratio: 1 / 1;
}

.ms_tag-green {
    color: white;
    background-color: var(--green-tag);
    width: 50px;
}

.ms_tag-yellow {
    color: white;
    background-color: var(--yellow-tag);
    width: 70px;
}

.ms_tag-red {
    color: white;
    background-color: var(--red-tag);
    width: 55px;
}


/* GRAPH */
.graph {
    width: 100%;
}